
*{
    padding: 0%;
    margin: 0%;
    color: azure;

}
div{
height: 60px;
     background-color:#0f1111;

}
button{
    background-color: rgb(228, 69, 11);
}
#logo{
    color: #ee5b07;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
    
