h1{
    color:rgb(214, 58, 58);
    text-align: center;
    background-color: black;
}
h2{
    color-scheme: inherit;
    color: rgb(105, 50, 168);
    text-align: left;
    text-align: center;
}
div
    
{
    text-align: center;
    h3{
        text-align: center;
        color: white;
    }
    h4{
        text-align: center;
        text-decoration: underline;
        text-decoration-color: aqua;
    }
    background-color: black;
}